

/*######################################################*/
/* general */
/*######################################################*/
h1{
     font-family: helvetica, sans-serif;
     font-size: 3.4vmin;
     font-weight: bold;
     color: #446;
     padding-top:0px;
 }

body{
  margin: 0;
  padding: 0;
  font-family: 'helvetica', sans-serif;
                 /*font-size: 14px;*/
  font-size: 2.8vmin;
  /*text-align: center;*/
  color: #404050;   /* text color */
  background-color: #FFFFFF;
}

button,select{
     font-size: 2.5vmin; 
}


/* text layout of sliders: tables override general text spec) */

th{                    /* only used in infotext */
  font-size: 2.5vmin;
  font-weight: bold; 
  color: #404060;      /* text color */

}

td{
  font-size:2.2vmin; 
  font-weight: bold; 
  color: #404060;   /* only WITHOUT quotes here, not "#404060" etc */
}

/*######################################################*/
/* title */
/*######################################################*/


#header{
  position: absolute;
  top: 0vmin;
  left: 10vw;
  font-weight:bold;
  z-index: 3;  /* above simulation canvas in rare chances of overlapping */
}

/*######################################################*/
/* main elements */
/*######################################################*/


#startStopDiv{
  position: absolute;
  top:     0.5vh; 
  right:   11vmin;
  height:  9vmin;
  width:   9vmin;
  z-index: 3; /* the higher the integer, the more on top */
}

#restartDiv{
  position: absolute;
  top:     0.5vh; 
  right:   2vmin;
  height:  8vmin;
  width:   8vmin;
  z-index: 3; /* the higher the integer, the more on top */
}


#introArea{ /* introducionary remarks on the simulation */
  position: absolute;
  top:   9vh;  /* 6 for the title, 24 for the sliders */
  left:   2vw;
  width:  40vw;
  height: 19vh;
  background-color: rgb(222,222,255);
  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 1; # the higher the more on top
}


#sliders{ 
  position: absolute;
  top:   9vh; 
  left:   44vw;
  width:  54vw;
  height:  19vh;
  background-color: rgb(222,255,222);
  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 2;  # the higher the more on top
}

#contents{ /* contains the canvas */
  position: absolute;
  top:   30vh;  /* 6 for the title, 24 for the sliders */
  left:   2vw;
  width:  96vw;
  height: 68vh;
  background-color: rgb(255,255,255);
  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 1; # the higher the more on top
}

#displayTypeDiv{ /* linear or logarithmic */
  position: absolute;
  top:     31vh; 
  right:   3vw;
  height:  5vmin;
  width:   25vmin;
  background-color: rgb(255,240,222);

  z-index: 3; /* the higher the integer, the more on top */
}



#sliderTimewarp{ 
  position: absolute;
  top:   37vh; 
  left:   51vw;
  width:  47vw;
  height:  4vh;

  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 2;  # the higher the more on top
}


#loggingWindow{ 
  position: absolute;
  top:   100vh; 
  left:   5vw;
  width:  90vw;
  height:  8vh;
  background-color: rgb(222,222,255);
  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 1; # the higher the more on top
}

#loggingWindow2{ 
  position: absolute;
  top:   110vh; 
  left:   5vw;
  width:  90vw;
  height:  8vh;
  background-color: rgb(222,222,255);
  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 1; # the higher the more on top
}


/*#########################################################*/
/* addtl smartphone general settings 
/* dppx=dot per physical inch, dpi=dots per css-inch
/*#########################################################*/

@media screen and (max-height: 600px),
screen and (max-width: 600px),
screen and (min-resolution: 97dppx){ 


h1{
  font-size: 4vmin;
}


body{ /*mobile, landscape */
  font-size: 3.5vmin;
}

td{
  font-size:2.8vmin; 
}

button,select{ /*mobile, landscape */
     font-size: 3vmin; 
}

input[type=range]{ /*mobile, landscape, orig in sliders.css */ 
  width: 16vw;
  height: 2.5vmin;
}

input[type=range]::-moz-range-track{
  width: 16vw;
  height: 2.5vmin;
}

input[type=range]::-moz-range-thumb {
  height: 3vmin;
  width: 1.5vmin;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 2vmin;
}

input[type=range]::-webkit-slider-thumb {
  height: 3.0vmin;
  width:  2.0vmin;
}


}



/*#########################################################*/
/* addtl smartphone landscape settings (inside general smartphone settings) 
/*#########################################################*/


@media screen and (max-height: 600px) and (min-aspect-ratio: 1/1), /*6/5*/
screen and (max-width: 600px) and (min-aspect-ratio: 1/1),
screen and (min-resolution: 97dppx) and (min-aspect-ratio: 1/1){

#header{ /*mobile, landscape */
  left:    4vmin;
  width:   20vmin;
}

#startStopDiv{  /*mobile, landscape */
  right:   14vmin;
  height:  11vmin;
  width:   11vmin;
}

#restartDiv{
  right:   2vmin;
  height:  10vmin;
  width:   10vmin;
}


#displayTypeDiv{  /*mobile, landscape */
  top:     12vh; 
  right:   2vmin;
}

#introArea{   /*mobile, landscape */
  position: absolute;
  top:   28vh;  
  background-color: rgb(255,255,255);
  left:   -1vw;
  width:  16vw;
  height: 70vh;
}


#sliders{     /*mobile, landscape */
  position: absolute;
  top:   2vh; 
  background-color: rgb(255,255,255);
  left:   16vw;
  width:  65vw;
  height:  26vh;
}

#sliderTimewarp{   /*mobile, landscape */
  position: absolute;
  top:   30vh; 
  left:   45vw;
  width:  57vw;
  height:  4vh;
}


#contents{    /*mobile, landscape */
  position: absolute;
  top:   28vh; 
  left:   22vw;
  width:  76vw;
  height: 68vh;
}

}


/*#########################################################*/
/* addtl smartphone portrait settings (geht NICHT nested!)
/*#########################################################*/

@media screen and (max-height: 600px) and (max-aspect-ratio: 1/1), /*6/5*/
screen and (max-width: 600px) and (max-aspect-ratio: 1/1),
screen and (min-resolution: 97dppx) and (max-aspect-ratio: 1/1){

input[type=range]{ /*mobile, portrait, orig in sliders.css */ 
  width: 40vmin;
  height: 1.6vmin;
}

input[type=range]::-moz-range-track{
  width: 40vmin;
  height: 1.6vmin;
}

input[type=range]::-webkit-slider-runnable-track{ /*mobile portrait*/
  width: 40vmin;
  height: 1.6vmin;
}

input[type=range]::-moz-range-thumb {
  height: 3.5vmin;
  width:  2.5vmin;
}


input[type=range]::-webkit-slider-thumb {
  height: 3.5vmin;
  width:  2.5vmin;
}



#header{
  top:     0vmin;
  left:   20vmin;
  width:  40vmin;
}

#startStopDiv{  /*mobile, portrait */
  top:     1vmin;
  right:   14vmin;
  height:  11vmin;
  width:   11vmin;
}

#restartDiv{
  top:     1vmin;
  right:   2vmin;
  height:  10vmin;
  width:   10vmin;
}


#displayTypeDiv{  /*mobile, portrait */
  top:     42vmin; 
  right:   2vmin;
}

#introArea{   /*mobile, portrait */
  position: absolute;
  top:   120vmin; 
  background-color: rgb(255,255,255);
  left:   2vmin;
  width:  96vmin;
  height:  96vmin;
}


#sliders{     /*mobile, portrait */
  position: absolute;
  top:   14vmin; 
  background-color: rgb(255,255,255);
  left:   5vmin;
  width:  93vmin;
  height: 20vmin;
}


#contents{           /*mobile, portrait */
  position: absolute;
  top:   38vmin;  
  left:  2vmin;
  width:  96vmin;
  height: 60vh;
}
}  /*smartphone and max-aspect-ratio: 1/1*/

