

/*######################################################*/
/* general */
/*######################################################*/
h1{
     font-family: helvetica, sans-serif;
     font-size: 3.4vmin;
     font-weight: bold;
     color: #446;
     padding-top:0px;
 }

body{
  margin: 0;
  padding: 0;
  font-family: 'helvetica', sans-serif;
                 /*font-size: 14px;*/
  font-size: 2.8vmin;
  /*text-align: center;*/
  color: #404050;   /* text color */
  background-color: #FFFFFF;
}

button,select{
     font-size: 2.5vmin; 
}


/* text layout of sliders: tables override general text spec) */

th{                    /* only used in infotext */
  font-size: 2.5vmin;
  font-weight: bold; 
  color: #404060;      /* text color */

}

td{
  font-size:2.2vmin; 
  font-weight: bold; 
  color: #404060;   /* only WITHOUT quotes here, not "#404060" etc */
}

/*######################################################*/
/* title */
/*######################################################*/


#header{
  position: absolute;
  top: -2vmin;
  left: 5vw;
  font-weight:bold;
  z-index: 3;  /* above simulation canvas in rare chances of overlapping */
}

/*######################################################*/
/* main elements */
/*######################################################*/

#displayTypeDiv{ /* linear or logarithmic */
  position: absolute;
  top:     1vh; 
  right:   20vmin;
  height:  5vmin;
  width:   25vmin;
  background-color: rgb(255,240,222);

  z-index: 3; /* the higher the integer, the more on top */
}


#startStopDiv{
  position: absolute;
  top:     0.5vh; 
  right:   11vmin;
  height:  9vmin;
  width:   9vmin;
  z-index: 3; /* the higher the integer, the more on top */
}

#restartDiv{
  position: absolute;
  top:     0.5vh; 
  right:   2vmin;
  height:  8vmin;
  width:   8vmin;
  z-index: 3; /* the higher the integer, the more on top */
}


#introArea{ /* introducionary remarks on the simulation */
  position: absolute;
  top:   9vh;  /* 6 for the title, 24 for the sliders */
  left:   2vw;
  width:  40vw;
  height: 24vh;
  background-color: rgb(222,222,255);
  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 1; # the higher the more on top
}


#sliders{ 
  position: absolute;
  top:   9vh; 
  left:   44vw;
  width:  54vw;
  height:  24vh;
  background-color: rgb(222,255,222);
  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 2;  # the higher the more on top
}

#contents{ /* contains the canvas */
  position: absolute;
  top:   35vh;  /* 6 for the title, 24 for the sliders */
  left:   2vw;
  width:  96vw;
  height: 60vh;
  background-color: rgb(255,255,255);
  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 1; # the higher the more on top
}


#sliderTimewarp{ 
  position: absolute;
  top:   37vh; 
  left:   51vw;
  width:  47vw;
  height:  4vh;

  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 2;  # the higher the more on top
}


#loggingWindow{ 
  position: absolute;
  top:   100vh; 
  left:   5vw;
  width:  90vw;
  height:  8vh;
  background-color: rgb(222,222,255);
  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 1; # the higher the more on top
}

#loggingWindow2{ 
  position: absolute;
  top:   110vh; 
  left:   5vw;
  width:  90vw;
  height:  8vh;
  background-color: rgb(222,222,255);
  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 1; # the higher the more on top
}


/*#########################################################*/
/* addtl smartphone landscape settings  !! check with ../js/media.js
/*#########################################################*/

@media screen and (max-height: 600px) and (min-aspect-ratio: 6/5),
screen and (max-width: 600px) and (min-aspect-ratio: 6/5),
screen and (min-resolution: 97dpi) and (min-aspect-ratio: 6/5){

h1{
  font-size: 4vmin;
}


body{ /*mobile, landscape */
  font-size: 3.5vmin;
}

td{
  font-size:2.8vmin; 
}

button,select{ /*mobile, landscape */
     font-size: 3vmin; 
}

input[type=range]{ /*mobile, landscape, orig in sliders.css */ 
  width: 16vw;
  height: 1.6vw;
}

input[type=range]::-moz-range-track{
  height: 2.5vmin;
}

input[type=range]::-moz-range-thumb {
  height: 3vmin;
  width: 1.5vmin;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 2vmin;
}

input[type=range]::-webkit-slider-thumb {
  height: 3.0vmin;
  width:  2.0vmin;
}




#startStopDiv{  /*mobile, landscape */
  right:   14vmin;
  height:  11vmin;
  width:   11vmin;
}

#restartDiv{
  right:   2vmin;
  height:  10vmin;
  width:   10vmin;
}

#header{
  width:   20vmin;
}

#displayTypeDiv{  /*mobile, landscape */
  top:     12vh; 
  right:   2vmin;
}

#introArea{   /*mobile, landscape */
  position: absolute;
  top:   28vh;  /* 6 for the title, 24 for the sliders */
  background-color: rgb(255,255,255);
  left:   -1vw;
  width:  16vw;
  height: 70vh;
}


#sliders{     /*mobile, landscape */
  position: absolute;
  top:   2vh; 
  background-color: rgb(255,255,255);
  left:   16vw;
  width:  65vw;
  height:  26vh;
}

#sliderTimewarp{   /*mobile, landscape */
  position: absolute;
  top:   30vh; 
  left:   45vw;
  width:  57vw;
  height:  4vh;
}


#contents{ /* contains the canvas */
  position: absolute;
  top:   28vh;  /* 6 for the title, 24 for the sliders */
  left:   22vw;
  width:  76vw;
  height: 70vh;


